/*:root {
  --var-bg:#000000;
  --var-bg-form:#353535;
  --var-bg-input:#202125;
  --var-color-text:#FFFFFF;
  --var-color-text-card: rgb(0, 132, 255);
}*/

html[data-theme='light']{
  --var-bg:#f5f6f7;
  --var-bg-form:#2980b9;
  --var-bg-input:#202125;
  --var-color-text:#111;
  --var-color-text-card: #f1c40f;
}

html[data-theme='dark']{
  --var-bg:#131419;
  --var-bg-form:#353535;
  --var-bg-input:#202125;
  --var-color-text:#FFFFFF;
  --var-color-text-card: rgb(0, 132, 255);
}

input{
  background-color:var(--var-bg-input);
}

.cards {
  position: relative;
  height: 220px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.bg {
  background-color:var(--var-bg);
  /*background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;*/
}

.card-body {
  background-color:var(--var-bg-form);
  border: 2px solid var(--var-color-text);
  border-radius: 8px;
  color: var(--var-color-text-card);
  position: absolute;
  width: 80%;
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

article > label {
  color: #fff;
}

#card_verso {
  transform: rotateY(180deg);
}

.formulario {
  border: 1px solid var(--var-color-text);
  border-radius: 8px;
  background-color:var(--var-bg-form);
  color:var(--var-color-text);
  padding: 16px 4;
}

form {
  text-align: left;
  padding: 0 40px;
}

.barra {
  width: 100%;
  border: 15px solid #111;
}

button {
  width: 100%;
  margin-bottom: 25px;
}
