.cards {
  position: relative;
  height: 220px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.card-body {
  background-color:#001a5f;
  border: 1px solid #666666;
  border-radius: 8px;
  color: #DAA520;
  position: absolute;
  width: 95%;
  height: 109%;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

article > label{
  color:#fff;
}

#card_verso {
  transform: rotateY(180deg);
}

.formulario {
  border: 1px solid #666666;
  border-radius: 8px;
  background-color: #FFF;  
  padding: 16px 4;
}

form {
  text-align: left;
  padding: 0 40px;
}

.barra {
  width: 100%;
  border: 15px solid #111;
}

.card_number{position:relative;}
.card_number input{padding-right: 40px;}
.card_number span{position:absolute; top:0; right:0; height:100%; padding: 5px 10px; display: flex; align-items: center;}